.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar content-area"
    "footer footer";
}
.sidebar {
    grid-area: sidebar;
}
.header {
    grid-area: header;
}
.content {
    grid-area: content-area;
}
.footer {
    grid-area: footer;
}